@import './_vars.css';

.sidebar {
    position: relative;
    margin-bottom: 20px;
}

.sidebar .sidebar_header {
    margin: 15px 0;
    font-size: 30px;
    color: var(--dark-green-color);
}

.sidebar .links_container {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.sidebar .settings_container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .date_settings_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.sidebar .date_picker_outer {
    width: 150px;
}

.sidebar .arrows_container {
    display: flex;
    align-items: center;
}

/* dropdown */

.dropdown {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 15px 15px;
    overflow-y: auto;
    background-color: var(--off-white-color);
    box-shadow: 10px 0px 5px var(--grey-color);
}

.dropdown .icon.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown .dropdown_header {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-green-color);
}

.dropdown .calendar_outer {
    display: flex;
}

.dropdown .icon.info {
    margin-left: 10px;
}


