@import './_vars.css';

.week table {
    width: 114%;
    margin-left: -14%;
    border-collapse: collapse;
    table-layout: fixed;
}

.week td,
.week th {
    width: 2%;
    height: 50px;
    border: 1px solid var(--light-grey-color);
    box-sizing: border-box;
    font-weight: 400;
}

.week td#td0 {
    position: relative;
}

.week th:not(.half_hour) {
    border-bottom-color: var(--dark-green-color);
    vertical-align: top;
}

.week .half_hour {
    padding-right: 1.5%;
    border: none;
    text-align: end;
}

.week th .date {
    margin: 3px 0;
    font-weight: 700;
    color: var(--dark-green-color);
}

.week .cur_date {
    background-color: var(--light-green-color);
}

.week .today {
    background-color: var(--grey-green-color);
}

.week .event {
    position: absolute;
}

.week .header_event {
    position: relative;
    padding: 2px 5px;
    min-height: 20px;
}

.week .event_rnd {
    overflow: hidden;
    word-wrap: break-word;
    padding: 2px 5px;
    border: 1px solid white;
    color: white;
}

