@import './_vars.css';

.week table {
    width: 100%;
    border-collapse: collapse;
    /* width: 50px;
    height: 50px;
    border: 1px solid red; */

    table-layout: fixed;
}

.week td,
.week th {
    width: 2%;
    height: 50px;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;
}

.week td#td0 {
    position: relative;
}

.week td.half_hour {
    width: 10px;
}

.week .event {
    position: absolute;
}

.week .header_event {
    position: relative;
    min-height: 20px;
}

.week .event_rnd {
    background-color: red;
    border: 1px solid blue;
}

