@import '../_vars.css';

.label {
    margin: 10px 0 5px;
}

/* .input_file {
    display: none;
} */

/* auth */

.auth_link {
    margin: 10px 0;
}

.auth_link a {
    text-decoration: underline;
    color: var(--dark-green-color);
}

.auth_link a:hover {
    color: var(--green-color);
}

/* input */

.input {
    box-sizing: border-box;
    display: block;
    width: 45vw;
    padding: 7px 10px;
    background-color: white;
    border: 1px solid var(--black-color);
    border-radius: 3px;
    font-size: 14px;
    color: inherit;
}

.input::placeholder {
    font-size: 14px;
    color: var(--grey-color);
}

.input:focus {
    outline: 1.4px solid var(--dark-green-color) !important;
}

/* select */

.select_contatiner {
    display: flex;
    align-items: center;
}

.select__control {
    background-color: white !important;
    border: 1px solid var(--black-color) !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

.select__control--is-focused {
    border: 2px solid var(--dark-green-color) !important;
}

.select__indicator {
    color: var(--dark-green-color) !important;
}

.select__menu {
    top: 33px !important;
}

.select__option {
    overflow: hidden;
    text-overflow: ellipsis;
}

.select__option--is-focused {
    background-color: var(--light-green-color) !important;
    color: var(--black-color) !important;
}

.select__option--is-selected {
    background-color: var(--dark-green-color) !important;
    color: white !important;
}

/* textarea */

textarea {
    display: block;
    width: 45vw;
    resize: vertical;
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 3px;
    border-bottom-right-radius: 0;
    font-family: inherit;
}

textarea.large {
    min-height: 100px;
}

textarea.small {
    min-height: 50px;
}

textarea::placeholder {
    font-size: 14px;
    color: var(--grey-color);
}

textarea:focus {
    outline: 1.5px solid var(--dark-green-color) !important;
}

.popup_container textarea {
    width: 560px;
}

/* images */

/* .post_images_outer.update {
    position: relative;
}

.post_images_outer.update .delete_image {
    position: absolute;
    right: 2px;
    top: 2px;
    line-height: 10px;
    background-color: white;
}

.post_images_outer.update .delete_image:hover {
    color: var(--dark-green-color);
}

.file_upload_label {
    display: block;
    width: fit-content;
    margin: 8px 0;
} */

/* checkbox */

.checkbox_outer {
    position: relative;
    left: -15px;
    margin-top: 10px;
}

.checkbox {
    opacity: 0;
}

.checkbox_label::before {
    position: relative;
    left: -5px;
    top: 2px;
    content: "\00A0";
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--dark-green-color);
    background-color: var(--light-green-color);
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: var(--dark-green-color);
}

.checkbox:checked + .checkbox_label::before {
    content: '✓';
}

/* color */

.colors_container {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}

.color {
    width: 20px;
    height: 20px;
    text-align: center;
}

.color.active::before {
    content: '✓';
    color: white;
}

/* button submit */

.button.submit {
    margin: 20px 0 5px 0;
}

