@import '../_vars.css';

.popup_background {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey-color);
    opacity: 0.9;
}

.popup_background.sure {
    z-index: 1100;
}

.popup_background.more_events {
    z-index: 799;
}

.popup_container {
    z-index: 1099;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 600px;
    max-height: 540px;
    overflow-x: auto;
    padding: 0 30px 20px;
    background-color: white;

}

.popup_container.sure {
    z-index: 1100;
}

.popup_container.more_events {
    z-index: 800;
}

.popup_message {
    z-index: 2000;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform:translate(-50%, 0);
    margin: 0px auto;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: black;
    color: white;
}

